<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="images/logo.png" alt="kulmun-logo">
            <div class="nav-links-right">Links</div>
        </div>
    </header>
    <div class="block-container">