<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>
    <div class="page-container">
        <header>
            <div class="logo-container"><img src="../static/images/logo.png" alt="Kulmun logo"></div>
            <ul class="nav-links">
                <li><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </header>
        <main>
        </main>
        <footer>
            <div>Copyright Stijn Servaes 2024</div>
        </footer>
    </div>
</body>
</html>