<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Users</title>
    <%- include('partials/bootstrap.ejs') %>
    <script type="module" src="./adminusers.js" defer></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main class="container mt-0 mt-lg-5 p-5 border border-primary-subtle border-opacity-25 rounded-5">

        <!-- Admin nav -->
        <ul class="nav nav-tabs nav-fill mb-3">
            <li class="nav-item">
                <a href="/admin" class="nav-link">Current votes</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">Change users</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Change forms</a>
            </li>
        </ul>

        <div class="row mb-5 px-3 d-flex gap-3">
            <button type="button" id="refresh-users" class="col-12 col-lg-2 btn btn-primary fw-bold">Refresh users</button>
            <button type="button" id="new-user" class="col-12 col-lg-2 btn btn-primary fw-bold">New user</button>
        </div>

        <!-- Create user form -->
        <div id="user-form-toggle" class="row d-flex justify-content-center mb-3 d-none">
            <form id="create-user-form" class="col-12 col-lg-6 p-4 border border-primary-subtle rounded-3" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);">
                <div id="form-error-response"></div>
                <h4 class="mb-3 text-primary">New User</h2>
                <div class="mb-3 form-floating">
                    <input type="text" name="newuser-name" id="newuser-name" class="form-control" placeholder="test" required>
                    <label for="newuser-name" class="form-label">Name</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="number" name="newuser-votes" id="newuser-votes" class="form-control" placeholder="test" min="0" max="5" required>
                    <label for="newuser-votes" class="form-label">Votes</label>
                </div>
                <button type="submit" class="btn btn-warning px-5 py-2 btn-lg fw-bolder w-100">Create user</button>
            </form>
        </div>

        <!-- User-container -->
        <div id="user-container" class="container-fluid row">

            <!-- User Table -->
            <table class="table table-bordered border-primary-subtle w-auto mx-auto">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Token</th>
                        <th>Votes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        
                    </td>
                </tbody>
            </table>
            
        </div>
    </main>


    <!-- Placeholder warning text -->
    <div id="warning-container" class="position-fixed top-0 start-50 translate-middle-x w-50">

    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>